@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}

body, h1 {
    padding: 0;
    margin: 0;
}

.box {
    width: 610px;
    padding: 20px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    box-shadow: 0 1px 20px 0 pink;
}

.titlebox {
    text-align: center;
}

.name {
    font-size: 26px;
    font-weight: bolder;
    color: deeppink;
}

.job {
    font-size: 20px;
    font-weight: bold;
    color: pink;
}

h2 {
    font-size: 20px;
    font-weight: 300;
    color: deeppink;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid deeppink;
}

.about_me_text {
    font-size: 14px;
    font-weight: bold;
    color: pink;
}

.floatBox {
    overflow: hidden;
    font-size: 14px;
    font-weight: bolder;
    color: deeppink;
}

.titleText {
    float: left;
}

.yearText {
    float: right;
}

.desText {
    font-size: 14px;
    font-weight: bold;
    color: pink;
    margin: 0;
}

.desSubtext {
    font-size: 10px;
    font-weight: normal;
    color: pink;
    padding-left: 10px;
}

footer {
    text-align: center;
    color: white;
    background-color: deeppink;
    padding: 30px;
    font-size: 14px;
    font-weight: lighter;
}

a {
    text-decoration: none;
}

a:link {
    color: deeppink;
}

a:visited {
    color: deeppink;
}

a:hover {
    color: pink;
}