@import url(style.css);
@import url(menu.css);

@font-face {
    font-family: 'WooridaumB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/WooridaumB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: WooridaumB;
}