* {
    margin: 0;
    padding: 0;
    align-items: center;
}

html {
    font-size: 10px;
}

ul, li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* menu */
#banner{
    margin: auto;
    margin-top:20px;
    margin-bottom:20px;
    width: 1080px;
    height: 40px;
    background-color:white;
}

.title1{
    margin-left:10px ;
    float:left ;
    color: green;
    font-size: 40px;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/WooridaumB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.title1 a, .title2 a{
    color: green;
}

.title2{
    float: right;
    font-size: 20px;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/WooridaumB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

#category{
    margin: auto;
    padding-top: 20px;

    width: 1080px;
    background-color:white;
    color:black;
    text-align: center;
    border-top: 1px solid greenyellow;
}

.title3 ul li{
    display: inline;
    margin: 1.5em;
}

.title3 ul li button{
    border: 0;
    outline: 0;

    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;

    background-color: white;
    font-size: 16px;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/WooridaumB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}


/* board list */
.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_list {
    width: 100%;
    border-top: 2px solid green;
    font-size: 1.5em;
}

.board_list > table {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    border-collapse: collapse;
}

.board_list > table tr, th, td {
    border-bottom: 1px solid green;
    padding: 10px;
    text-align: center;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_list .count {
    width: 10%;
}

.board_list > title a:hover {
    background-color: #999;
}

/* board page */

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

.board_page a {
    display: inline-block;
    vertical-align: middle;
}

.board_page a.btn {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    background-repeat: no-repeat;
    border-radius: 100px;
    overflow: hidden;
}

.board_page a.btn:hover {
    background-color: #999;
}

.board_page a.first {
    background-position: 10px -40px;
}

.board_page a.prev {
    margin-right: 5px;
    background-position: 10px 10px;
}

.board_page a.next {
    margin-left: 5px;
    background-position: -40px 10px;
}

.board_page a.last {
    background-position: -40px -40px;
}

.board_page a.num {
    margin: 0 5px;
}

.board_page a.num.on {
    color: green;
}

.board_page a.num:hover {
    text-decoration: underline;
}


/* button */
.btn_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.btn_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 2px;
    font-size: 1.4rem;
}

.btn_wrap a:first-child {
    margin-left: 0;
}

.btn_wrap button {
    background: green;
    color: #fff;
    border-color: green;
    padding: 10px;
    margin: 5px;
}


/* write */
.board_write {
    border-top: 2px solid #000;
}

.board_write .title {
    padding: 15px;
}

.board_write .title {
    border-bottom: 1px solid #000;
    font-size: 0;
}

.board_write .title dl {
    font-size: 0;
}
.board_write .title dt,
.board_write .title dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt {
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"] {
    padding: 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"] {
    width: 80%;
}

.board_write .cont {
    border-bottom: 1px solid #000;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}


/* view */
.board_view {
    width: 100%;
    border-top: 2px solid #000;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.4rem;
}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1.4rem;
}